.search-result {
    border: none !important;
}

.search-result:hover {
    cursor: pointer !important;
    background-color: rgb(229, 236, 240) !important;
    border: none !important;
}

.search-result span {
    color: rgb(159, 159, 159);
}