.search-result {
    border: none !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-result:hover {
    cursor: pointer !important;
    background-color: rgb(229, 236, 240) !important;
    border: none !important;
}

.search-result span {
    color: rgb(159, 159, 159);
    font-size: small;
    align-self: flex-end;
}

.results {
    padding-bottom: 100px;
}