.place-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.place-badge {
    padding: 11px !important;
    margin: 11px 11px 11px 0;
    font-weight: 500;
    background-color: #228cf1 !important;
    box-shadow: 3px 3px 5px 1px rgb(235, 235, 235);
    position: relative;
    bottom: 2.5px;
}

.icon {
    cursor: pointer;
    width: 30px;
    margin: 7px;
    color: #228cf1;
}

.vote-row {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

.comments {
    margin-bottom: 100px;
}

.name {
    font-weight: bolder;
    font-size: 30px;
    align-self: flex-end;
    color: #228cf1;
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio : 3) {
    .place-title {
        display: flex;
        flex-direction: column;
    }
}