.welcome {
    margin-top: 33px !important;
}

.badge {
    width: 100px;
    margin: auto;
    height: 30px !important;
    font-weight: 500;
    font-size: 14px !important;
    background-color: rgb(72, 135, 72) !important;
    box-shadow: 3px 3px 5px 1px #ccc;
}