.disc-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.disc-badge {
    padding: 11px !important;
    margin: 11px 11px 11px 0;
    font-weight: 500;
    background-color: #228cf1 !important;
    box-shadow: 3px 3px 5px 1px rgb(235, 235, 235);
}

.disc-icon {
    cursor: pointer;
    width: 30px;
    margin: 7px;
    color: #228cf1;
}

.disc-vote-row {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

.comments {
    margin-bottom: 100px;
}